.header {
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: #3f3b3b;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    color: white !important;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__nav a {
    text-decoration: none;
    color: white;
}

.header__nav a:hover {
    color: #5776a5;
}
